<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "エラー") %> を修正して下さい:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= replace_local( msg, { 'Name' => '名称' } ) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '名称' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label '取り扱いのある書籍' %><br>
    <%= f.select :book_ids, Book.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :size => 10 %>
  </div>
  <div class="actions">
    <%= f.submit('反映') %>
  </div>
<% end %>
