<h1>ストア 一覧</h1>

<table class='table table-striped table-bordered table-condensed'>
  <thead>
    <tr>
      <th>名称</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= link_to '参照', store %></td>
        <td><%= link_to '編集', edit_store_path(store) %></td>
        <td><%= link_to '破棄', store, method: :delete, data: { confirm: '本当に破棄しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しくストアを追加する', new_store_path %>
