<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "エラー") %> を修正して下さい:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= replace_local( msg, { 'Username' => 'ユーザー名',
                                      'Email'    => 'メールアドレス',
                                      'Password' => 'パスワード',
                                      'Password confirmation' => 'パスワード（確認）' } ) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'ユーザー名' %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label 'メールアドレス' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
   <%= f.label 'パスワード' %><br />
   <%= f.password_field :password %>
  </div>
  <div class="field">
   <%= f.label 'パスワード（確認）' %><br />
   <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit('登録') %>
  </div>
<% end %>
