<% if current_user %>
  <%=link_to( '書籍編集', controller: 'books' ) %>
  <%=link_to( '店舗編集', controller: 'stores' ) %>
<% end %>

<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>タイトル</th>
    <th>定価</th>
    <% @stores.each{ |store| %>
      <th><%=store.name %></th>
    <% } %>
  </tr>
<% @books.each{ |book| %>
  <tr>
    <td>
     <%=book.name %>
    </td>
    <td>
      <%=number_to_currency(book.price, unit: "￥", precision: 0 ) %>
    </td>
    <% @stores.each{ |store| %>
      <td>
      <% if store_book = store.store_books.find( :first, conditions: { book_id: book.id } ) %>
        <% if store_book.store_book_price.price.presence %>
          <%=number_to_currency(store_book.store_book_price.price, unit: "￥", precision: 0 ) %>
        <% else %>
          未入力
        <% end %>
      <% else %>
        未販売
      <% end %>
      </td>
    <% } %>
  </tr>
<% } %>
</table>