<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "エラー") %> を修正して下さい:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg.gsub(/Name/,'名称').gsub(/Price/,'値段') %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '名称' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label '値段' %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label '取り扱いのあるストア' %><br>
    <%= f.select :store_ids, Store.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :size => 10 %>
  </div>
  <div class="actions">
    <%= f.submit('反映') %>
  </div>
<% end %>
